<footer>
  <div class="container">
    <div class="row">
      <div class="footer-newsletter">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-5">
              <h3 class="">S'inscrire à la  Newsletter</h3>
              <span>Recevez les dernières offres et offres spéciales</span></div>
            <div class="col-md-5 col-sm-7">
              <form id="newsletter-validate-detail" name="form" role="form">
                <div class="newsletter-inner">
                  <input type="email" id="email" class="newsletter-email"  name='Email' placeholder='Entrer votre Email'/>
                  <button [disabled]="true" class="button subscribe" type="submit" title="S'inscrire">S'inscrire</button>
                </div>
              </form>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="social">
                <ul class="inline-mode">
                  <li class="social-network fb"><a title="Connect us on Facebook" target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                  <li class="social-network googleplus"><a title="Connect us on Google+" target="_blank" href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>
                  <li class="social-network tw"><a title="Connect us on Twitter" target="_blank" href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                  <li class="social-network linkedin"><a title="Connect us on Linkedin" target="_blank" href="https://www.pinterest.com/"><i class="fa fa-linkedin"></i></a></li>
                  <li class="social-network rss"><a title="Connect us on Instagram" target="_blank" href="#"><i class="fa fa-rss"></i></a></li>
                  <li class="social-network instagram"><a title="Connect us on Instagram" target="_blank" href="https://instagram.com/"><i class="fa fa-instagram"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-xs-12 col-lg-3">
        <div class="footer-logo"><a><img src="assets/images/footer-logo.png" alt="fotter logo"></a> </div>
        <div class="footer-content">
          <div class="email"> <i class="fa fa-envelope"></i>
            <p></p>
          </div>
          <div class="phone"> <i class="fa fa-phone"></i>
            <p></p>
          </div>
          <div class="address"> <i class="fa fa-map-marker"></i>
            <p>Cameroun,  , </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-xs-12 col-lg-3 collapsed-block">
        <div class="footer-links">
          <h3 class="links-title">Information<a class="expander visible-xs" href="#TabBlock-1">+</a></h3>
          <div class="tabBlock" id="TabBlock-1">
            <ul class="list-links list-unstyled">
              <li><a>Delivery Information</a></li>
              <li><a>Discount</a></li>
              <li><a href="sitemap.html">Sitemap</a></li>
              <li><a>Privacy Policy</a></li>
              <li><a href="faq.html">FAQs</a></li>
              <li><a>Terms &amp; Condition</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-xs-12 col-lg-3 collapsed-block">
        <div class="footer-links">
          <h3 class="links-title">Insider<a class="expander visible-xs" href="#TabBlock-3">+</a></h3>
          <div class="tabBlock" id="TabBlock-3">
            <ul class="list-links list-unstyled">
              <li> <a>A propos</a> </li>
              <li> <a>Contactez Nous</a> </li>
              <li> <a>Mes Commandes</a> </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-2 col-xs-12 col-lg-3 collapsed-block">
        <div class="footer-links">
          <h3 class="links-title">Service<a class="expander visible-xs" href="#TabBlock-4">+</a></h3>
          <div class="tabBlock" id="TabBlock-4">
            <ul class="list-links list-unstyled">
              <li> <a >Compte</a> </li>
              <li> <a >Mes Favoris</a> </li>
              <li> <a >Comparer</a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-coppyright">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-12 coppyright"> Copyright © 2018 <a> TEAMDEV SOLUTION </a></div>
        <div class="col-sm-6 col-xs-12">
          <div class="payment">
            <ul>
              <li><a href="#"><img title="Visa" alt="Visa" src="assets/images/visa.png"></a></li>
              <li><a href="#"><img title="Paypal" alt="Paypal" src="assets/images/paypal.png"></a></li>
              <li><a href="#"><img title="Discover" alt="Discover" src="assets/images/discover.png"></a></li>
              <li><a href="#"><img title="Master Card" alt="Master Card" src="assets/images/master-card.png"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
